<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Oxyrus</h2>
		<p>Web developer<br />
		</p>
		<ul class="actions">
			<li><a href="#" class="button special">Blog</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Read More</a>
</section>