<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		<li><a href="https://twitter.com/im_oxyrus" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://github.com/Oxyrus" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>
	<ul class="copyright">
		<li>Copyright &copy; <%= link_to "Oxyrus", root_path %></li><li>Design <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
</footer>